<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.VertificationCodeMapper">

    <insert id="insert" parameterType="VertificationCode">
        insert into code values(default,#{telephone},#{vertification_code},#{create_time})
    </insert>

    <select id="select" resultType="VertificationCode">
        select * from code where telephone=#{telephone}
    </select>

</mapper>